.idea/workspace.xml
classes
release
apps/booleanops/out.*
*.x3db
apps/*.x3dv
apps/test/
jars/
*~
*comp.bat
*.orig
reports/
*.class
apps/*/src/java/*/ui
/test/junit/abfab3d/mesh/#TestMeshDecimator.java#
