
#main-box {
	width: 1040px;
	//overflow: hidden;
	//background-color: #EDF2F9;
	margin: auto auto;
	position: relative;
	top: 0px;
	padding: 0px 0 10px 0;
}

#addparam-title {
	float: left;
	width: 80%;
	font-size: 16px;
	font-weight: 700;
	height: 30px;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 8px;
	color: #444;
	text-align: left;
}

#model-container {
	text-align: right;
	width: 512px;
	height: 540px;
	background: #ffffff;
	z-index: 1;
}

#saveBox {
	padding: 10px;
//	width:210px;
	height: 95px;
	margin: 0 10px 10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #DDD;
	-moz-box-shadow: 0 0 5px #eee;
	-webkit-box-shadow: 0 0 5px #eee;
	box-shadow: 0 0 5px #eee;
	position: relative;
}
#saveBox p{
	font-size: 14px;
}
#saveBox input {
	padding: 3px;
	width: 202px;
	height: 20px;
	float: center;
}
#buttonBoxLeft {
	width:216px;
}
#buttonBoxRight {
	width:210px;
}
/*
#save-button {
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 700;
	color: white;
	background: #FF5943;
	display: block;
	clear: both;
	width: 210px;
	margin: 5px 0 10px 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 0 1px 0 #DE4A37;
	cursor: pointer;
	border: none;
}
#save-button:hover {
	background: #e12f2f;
	text-decoration: none;
	cursor: pointer;
}

#preview-button {
	text-align: center;
	padding: 10px 0;
	font-size: 18px;
	font-weight: 700;
	color: white;
	background: #FF5943;
	display: block;
	clear: both;
	width: 216px;
	margin: 5px 0 10px 0px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	text-shadow: 0 1px 0 #DE4A37;
	cursor: pointer;
	border: none;
}
#preview-button:hover {
//			background-color: #7DDFF9;
	background-color: #e12f2f;
	text-decoration: none;
}
#previewQualityBox {
	padding: 10px;
	width: 510px;
	height: 40px;
//			margin: 0 10px 10px 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #DDD;
	-moz-box-shadow: 0 0 5px #eee;
	-webkit-box-shadow: 0 0 5px #eee;
	box-shadow: 0 0 5px #eee;
	position: relative;
}
*/
.parameter-container {
	position: relative;
	float: left;
	width: 452px;
	padding: 10px;
	margin: 0px 10px 10px 10px;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0 8px #ccc;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0 8px #ccc;
	box-shadow: 0px 0 8px #ccc;
}

.file-container {
	position: relative;
	float: left;
	width: 513px;
	padding: 10px;
	margin: 30px 0px 10px 0px;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0 8px #ccc;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0px 0 8px #ccc;
	box-shadow: 0px 0 8px #ccc;
}

#menu {
	float: left;
	width: 470px;
	height: 552px;
	margin: 10px 3px 10px 10px;
	text-align: left;
	background-color: #4b4a49;
	border: 1px solid #DDD;
	position: relative;
}

#menu #submit {
	width: 100px;
	float: right;
	text-align: center;
	padding-top: 0;
	color: #059C05;
	font-weight: 100;
	font-family: helvetica;
	font-size: 13px;
	display: inline-block;
	padding: 2px 10px;
	background: #f9f9f9;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	text-decoration: none;
	cursor: pointer;
}
#menu  #submit:hover {
	color: white;
	background-color: #059C05;
	text-decoration: none;
}

#menu td {
  height: 28px;
}

.jscode {
	position: relative;
	float: left;
	width: 470px;
	height: 586px;
	margin: 0px 10px 10px 10px;
	text-align: left;
//	background-color: green;
	border: 1px solid #DDD;
	position: relative;
}

.jscode-expanded {
	float: left;
	width: 1007px;
	height: 586px;
	margin: 0px 10px 10px 10px;
	text-align: left;
//	background-color: green;
	border: 1px solid #DDD;
	position: relative;
}

.close-popup {
    position: relative;
	width: 80px;
	height: 15px;
	text-align: center;
	font-weight: 100;
	font-family: helvetica;
	font-size: 11px;
	display: inline-block;
	padding: 0px 10px 5px 10px;
	margin-left: 10px;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 1.1px;
}
[class*='submit-'] {
	width: 134px;
	height: 21px;
	text-align: center;
//		    color: #059C05;
	color: white;
	font-weight: 100;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	display: inline-block;
	padding: 5px 10px;
//		    background: #f9f9f9;
	background: #ff5943;
	border: 1px solid #ccc;
	border-top: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
	text-decoration: none;
	cursor: pointer;
	letter-spacing: 1.2px;
}
[class*='submit-']:hover {
	color: white;
//			background-color: #059C05;
	background-color: #e12f2f;
	text-decoration: none;
}
.jscode .submit-generate {
	float: left;
	margin-right: 1px;
}
.jscode .submit-save {
	float: left;
}
.jscode .submit-upload {
	float: right;
}
.viewer-container .submit-upload {
	float: right;
}

.viewer-container {
	position: relative;
	top: 0px;
	width: 526px;
	height: 588px;
	//margin-bottom: 20px;
	top: 0px;
	left: 0px;
	margin: 0px 0px 10px 0px;
	float: left;
//	background-color: green;
}
.viewer-container .viewer {
	position: relative;
	float: left;
	padding: 7px;
	background-color: white;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0px 0 8px #ccc;
	-webkit-box-shadow: 0px 0 8px #ccc;
	box-shadow: 0px 0 8px #ccc;
	border-bottom: 1px solid #DDD;
}

.param-row {
  width: 100%;
  height: 26px;
//  background-color: red;
}
.col1 {
  float: left;
  position: relative;
  text-align: right;
  width: 100px;
  padding: 3px 5px 3px 3px;
//  margin: 3px 5px 3px 3px;
//  background-color: green;
}
.col2 {
  float: left;
  position: relative;
  text-align: left;
  width: 254px;
  padding: 3px 5px 3px 3px;
//  margin: 3px 5px 3px 3px;
//  background-color: orange;
}
.col2-3 {
  float: left;
  position: relative;
  text-align: left;
  width: 336px;
  padding: 3px 5px 3px 3px;
//  margin: 3px 5px 3px 3px;
//  background-color: orange;
}
.col2-input {
  position: relative;
  float: left;
  width: 242px;
  height: 14px;
  padding-left: 4px;
}
#title {
  float: left;
  width: 359px;
  height: 22px;
  padding: 4px;
  font-size: 13px;
  color: #555555;
  background-color: white;
  border:1px solid #dfddd9;
}
.add-img {
	float: right;
	height: 30px;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	margin-bottom: 8px;
	cursor: pointer;
}
.remove-param {
	float: left;
	position: relative;
	text-align: left;
	width: 86px;
	padding: 3px 5px 3px 5px;
	color: red;
	font-weight: 100;
	font-family: helvetica;
	cursor: pointer;
//	background-color: blue;
}

/******************************************************/

.col2 .range-slider { 
  -webkit-appearance: none;
  width: 250px;
  padding: 0px;
//  margin-top: 3px;
}

.col3 { 
  -webkit-appearance: none;
  float: right;
  position: relative;
  text-align: left;
  width: 76px;
  height: 24px;
  padding-top: 2px;
//  background-color: blue;
}

/* Special styling for WebKit/Blink */
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 0px;
  border: none;
  background: #1dbaff;
  cursor: pointer;
  margin-top: -5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

/* All the same stuff for Firefox */
.range-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 0px;
  border: none;
  background: #1dbaff;
  cursor: pointer;
}

/* All the same stuff for IE */
.range-slider::-ms-thumb {
  height: 16px;
  width: 16px;
  border-radius: 0px;
  background: #1dbaff;
  cursor: pointer;
}

.range-slider:hover::-webkit-slider-thumb {
  background: #42c7ff;
}

.range-slider:hover::-moz-range-thumb {
  background: #42c7ff;
}
        
.range-slider:disabled::-webkit-slider-thumb {
  background: #aaaaaa;
  cursor: context-menu;
}

.range-slider:disabled::-moz-range-thumb {
  background: #aaaaaa;
  cursor: context-menu;
}

.range-slider:disabled::-ms-thumb {
  background: #aaaaaa;
  cursor: context-menu;
}

.range-slider::-webkit-slider-runnable-track {
  height: 8.4px;
  cursor: pointer;
  background: #FAFAFA;
  border-radius: 1.3px;
  border: 1px solid #bbbbbb;
  margin-top: 4px;
}

.range-slider::-moz-range-track {
  height: 6px;
  cursor: pointer;
  background: #FAFAFA;
  border-radius: 1.3px;
  border: 0.2px solid #bbbbbb;
}

.range-slider::-ms-track {
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.range-slider:disabled::-webkit-slider-runnable-track {
  cursor: context-menu;
}

.range-slider:disabled::-moz-range-track {
  cursor: context-menu;
}

.range-slider:disabled::-ms-track {
  cursor: context-menu;
}

.slider-val {
  text-align: center;
  display: block;
  clear: both;
}

.menu {
  float: right;
  width: 1016px;
  margin: 0px 13px -3px 10px;
}
.quality-select {
  float: right;
  padding: 4px;
  margin-right: 10px;
}
.camera {
  float: right;
  width: 30px;
  height: 30px;
  margin-right: 8px;
}
.camera:hover {
  cursor: pointer;
}
.expand-arrow {
//  background-image: url("../images/arrow_right.png");
//  background-repeat: no-repeat;
//  position: absolute;
  float: right;
  width: 20px;
  height: 16px;
  margin: 6px 4px 0px 0px;
}
.expand-arrow:hover {
  cursor: pointer;
}
.contract-arrow {
  float: right;
  width: 20px;
  height: 16px;
  margin: -26px 4px 0px 0px;
}
.contract-arrow:hover {
  cursor: pointer;
}

.loading {
    position:absolute;
    padding:205px 0px 0px 218px;
    display: none;
    z-index:20;
}
.x3dom-view-loading {
    background:url("../images/loading.gif");
    background-repeat:no-repeat;
    background-position:center;
    width:100px;
    height:100px
}

.menu-button {
  background: #1e88ff;
  background-image: -webkit-linear-gradient(top, #1e88ff, #55a5ff);
  background-image: -moz-linear-gradient(top, #1e88ff, #55a5ff);
  background-image: -ms-linear-gradient(top, #1e88ff, #55a5ff);
  background-image: -o-linear-gradient(top, #1e88ff, #55a5ff);
  background-image: linear-gradient(to bottom, #1e88ff, #55a5ff);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  float: left;
  position: relative;
  width: 80px;
  height: 16px;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding: 3px;
  margin: 4px 4px 0 0;
  text-decoration: none;
  cursor: pointer;
}
.menu-button:hover {
  background: #2c99ff;
  background-image: -webkit-linear-gradient(top, #1e88ff, #1e88ff);
  background-image: -moz-linear-gradient(top, #1e88ff, #1e88ff);
  background-image: -ms-linear-gradient(top, #1e88ff, #1e88ff);
  background-image: -o-linear-gradient(top, #1e88ff, #1e88ff);
  background-image: linear-gradient(to bottom, #1e88ff, #1e88ff);
}

.menu-load-button {
  cursor: pointer;
  overflow: hidden;
}
.menu-button input.upload {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.param-button {
  background: #1dbaff;
  background-image: -webkit-linear-gradient(top, #1dbaff, #2980b9);
  background-image: -moz-linear-gradient(top, #1dbaff, #2980b9);
  background-image: -ms-linear-gradient(top, #1dbaff, #2980b9);
  background-image: -o-linear-gradient(top, #1dbaff, #2980b9);
  background-image: linear-gradient(to bottom, #1dbaff, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  float: right;
  position: relative;
  width: 70px;
  height: 16px;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding: 3px;
  margin-top: 1px;
  text-decoration: none;
  cursor: pointer;
}
.param-button-selected {
  background: #7cd8ff;
  background-image: -webkit-linear-gradient(top, #7cd8ff, #7cd8ff);
  background-image: -moz-linear-gradient(top, #7cd8ff, #7cd8ff);
  background-image: -ms-linear-gradient(top, #7cd8ff, #7cd8ff);
  background-image: -o-linear-gradient(top, #7cd8ff, #7cd8ff);
  background-image: linear-gradient(to bottom, #7cd8ff, #7cd8ff);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  float: right;
  width: 70px;
  height: 16px;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  padding: 3px;
  margin-top: 1px;
  cursor: pointer;
  text-decoration: none;
}


.fileUpload {
 // background-color: blue;
  
  background: #1dbaff;
  background-image: -webkit-linear-gradient(top, #1dbaff, #2980b9);
  background-image: -moz-linear-gradient(top, #1dbaff, #2980b9);
  background-image: -ms-linear-gradient(top, #1dbaff, #2980b9);
  background-image: -o-linear-gradient(top, #1dbaff, #2980b9);
  background-image: linear-gradient(to bottom, #1dbaff, #2980b9);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  float: right;
  position: relative;
  width: 70px;
  height: 16px;
  border-radius: 3px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  padding: 3px;
  margin-top: 1px;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}
.fileUpload input.upload {
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.render-normal {
  cursor: pointer;
}
.render-picking {
  cursor: crosshair;
}

.console {
  position: relative;
  float: left;
  width: 500px;
  height: 100px;
  font-family: courier, monospace;
  color: #3cff00;
  background: #000000;
  border: 3px double #888888;
  padding: 10px;
  overflow-y: auto;
  resize: vertical;
  min-height: 100px;
  max-height: 300px;
}
.console .log-type {
  font-weight: 500;
}
.console .log-info {
  padding-left:8px;
}
.CodeMirror-error-line-bg {
  background: yellow !important;
}