html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

body {
  color: #4b4a49;
  background: top left repeat #eceae8;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 300;
  text-shadow: 0px 1px 0 white;
  -webkit-text-size-adjust: none; }

.hidden {
  display: none; }

input, textarea, select {
  position: right;
  margin: 0;
//  border: 1px solid #BBB;
//  padding: 4px;
  background: white;
  font: inherit;
//  -webkit-border-radius: 4px;
//  -moz-border-radius: 4px;
//  -ms-border-radius: 4px;
//  -o-border-radius: 4px;
//  border-radius: 4px;
//  -webkit-box-shadow: inset 0 2px 0 #dedede, 0 1px 0 white;
//  -moz-box-shadow: inset 0 2px 0 #dedede, 0 1px 0 white;
//  box-shadow: inset 0 2px 0 #dedede, 0 1px 0 white; 
  outline: none;
}

input:focus, textarea:focus {
    outline: none;
    background: #fff;
//    border: 1px solid #74c2e8;
//    -webkit-box-shadow: inset 0 2px 0 #bae1f4, 0 1px 0 white;
//    -moz-box-shadow: inset 0 2px 0 #bae1f4, 0 1px 0 white;
//    box-shadow: inset 0 2px 0 #bae1f4, 0 1px 0 white; 
}

.container {
  width: 1040px;
  margin: 20px auto 20px auto;
}

